name: Build and test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

defaults:
 run:
  working-directory: ./boardgames

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: checkout the repo
      uses: actions/checkout@v3
    - name: Use Node.js 18.x
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
        cache: 'npm'
        cache-dependency-path: './boardgames/package-lock.json'
    - name: navigate to the app root folder
      run: cd "boardgames"
    - name: print current directory
      run: dir
    - name: install dependencies
      run: npm install
    - name: build the app
      run: npm build
    - name: run unit tests
      run: npm run test:unit
    - name: print SoftUni username
      run: echo "ivangeorgiev34"
